@model EditProductViewModel
@{
    ViewData["Title"] = "Edit";
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Edit Product</h2>

        <form asp-action="Edit" method="post" asp-controller="Products">


            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select class="form-select" asp-for="CategoryId" asp-items="Model.CategoryList">
                    <option value="">kategori seçiniz</option>

                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />

                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Stock" class="form-label"></label>
                <input asp-for="Stock" class="form-control"></input>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control"></input>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>


    </div>


</div>

@section Css
{
    <link href="~/css/create.product.css" rel="stylesheet" />
}